<div class="card">
  <div class="card-header">Projects</div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-striped" *ngIf="projectService.Get().length">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
            <th scope="col">Used Technologies</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of projectService.Get()">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.createdDate }}</td>
            <td>{{ item.usedTechnologies }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="remove(item.id)">
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-info m-3" *ngIf="!projectService.Get().length">
      Şu anda hiç bir proje yok. Yeni proje eklemek için
      <a routerLink="/project">"Projects"</a> sayfasına gidiniz.
    </div>
  </div>
</div>
